.contacto{
    background: var(--color-background-black);
    padding: 3rem;
}

.contacto__container{
    position: relative;
    margin: 4rem 0;
}

.elipse{
    position: absolute;
}

.contacto__elipse1{
    top: -25%;
    left: 64%;
}
.contacto__elipse2{
    top: 69%;
    left: 19%;
}
.contacto__elipse3{
    top: -13%;
    left: 31%;
}


.contacto__form{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    padding: 1rem 3rem;

    width: 40%;

    background: #4c4c4c2e;
    box-shadow: 1px 4px 12px rgb(0 0 0 / 50%);
    backdrop-filter: blur(7.5px);
    border-radius: 30px;
}

.contacto__input-group{
    position: relative;
    margin: 0.6rem;
    width: 100%;
}

.contacto__input{
    width: 100%;
    margin-top: 0.7rem;
    border: none;
    color: var(--color-font-white);
    background-color: transparent;
    border-bottom: 1px solid;
    font-size: 1.2rem;
}

label{
    color: var(--color-font-white);
    position: absolute;
    top: 4px;
    left: -1%;
    transform: translate(10px,10px);
    transition: transform .25s;
    font-size: 1.2rem;
}

.contacto__input:focus+label,
.contacto__input:valid+label{
    transform: translate(0, -14px) scale(.8);
    color: rgb(227 98 229);
}

.contacto__input:is(:focus,:valid){
    outline: none;
    border-bottom: 1px solid rgb(227 98 229);
}

input:-internal-autofill {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
    color: initial !important;
}

.contacto__btn-enviar{
    color:var(--color-font-white);
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 2rem 0 1rem;
    align-self: end;
}

.contacto__btn-enviar:hover{
    cursor: pointer;
}

.contacto__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}