.inicio{
    background: black;
    overflow: hidden;
    position: relative;
}

.shape{
    position: absolute;
    filter: blur(102px);

    animation: shape-translate 8s linear infinite ;
}

@keyframes shape-translate{
    0%{
        transform: rotate(0deg);

    }
   
    100%{
        transform: rotate(-360deg);
    }
}

.inicio__background{
    width: 100%;
    height: auto;
}

.inicio__background-shape1{
    width: 500px;
    height: 500px;
    

    background: #4E2F7C;
    border-radius: 83% 17% 47% 53% / 79% 14% 86% 21% ;

    left: 31.42%;
    top: -42%;

}
.inicio__background-shape2{
    width: 600px;
    height: 600px;
    
    background: #244678;
    border-radius: 28% 72% 86% 14% / 12% 55% 45% 88% ;

    left: 64.42%;
    top: -10%;
}
.inicio__background-shape3{
    width: 500px;
    height: 500px;
    
    background: #AC5A86;
    border-radius: 14% 86% 86% 14% / 88% 86% 14% 12%  ;

    left: -2%;
    top: -9%;
}
.inicio__background-shape4{
    width: 500px;
    height: 500px;
    
    background: #A292E8;
    border-radius: 18% 82% 86% 14% / 7% 19% 81% 93%  ;

    left: 28.42%;
    top: 29%;
}

main{
    position: relative;
    z-index: 3;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.8rem 0;
    transition: all 0.5s;
}

.logo{
    margin: 0.4rem 4rem;
    opacity: 0;
}
.logo.show{
    opacity: 100%;
}


nav.off{
    transform: translateY(-300px);
}
nav.color{
    background: #000000d4;
}

nav a{
    color: var(--color-font-white);
    margin: 1.2rem 2rem;
    font-size: 18px;
    font-weight: 400;
}

.inicio__container{
    display: flex;
    justify-content: space-evenly;
}

.illustration-top{
    display: none;
}
.inicio__illustration img{
    width: 471px;
    height: 347px;
    margin-top: 5rem;
}


.inicio__text{
    width: 567px;
    margin-top: 3rem;
    color: var(--color-font-white);
}
.inicio__title{
    font-size: 104px;
    font-weight: 800;
}
.inicio__subtitle{
    font-size: 25px;
}
.inicio__subtitle-2{
    font-size: 19px;
    margin: 1rem 0;
}


.inicio__contact{
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}
.inicio__contact-logo{
    text-align: center;
}
.logo-title{
    font-size: 15px;
    margin-top: 0.4rem;
    color: var(--color-font-white);
}